body[data-theme="dark"] {  

   @import '/src/scss/dark-slider.scss';

   .slider-tab {
      background-color: #8C8C8C;
   }

   .title-styles {
      color: #8be9fd;
   }
 
   .header-icon {
      color: #ff79c6;
      opacity: 0.8;
   }

   .slider-image {
      border: 5px solid #8C8C8C;
   }

   .language {
      background-color: #494949;
   }

   .link-href {
      color: white;
   }

   .project-date {
      background-color: #918e97;
      color: white;
   }

   header {
      background-color: #282a36;
      h1 {
         color: #50fa7b;
      }
   }

   #about {
      background-color: #7f7f7f;
      h1 span {
         color: white;
      }
      .polaroid span {
         background:  #44475a;
      }
      .card {
         background: #44475a;
         color: #bd93f9;
      }
   }

   #portfolio {
      background: #44475a;
      .section-title {
         color: #bd93f9 !important;
      }
      .foto div {
         background: #6d6d6d;
      }
      .project-title-settings {
         color: #bd93f9;
      }
   }

   #resume {
      filter: brightness(80%);
      background: #44475a;
      .section-title {
         color: #ff79c6 !important;
      }

      .experience-badge {
         background: #44475a !important;
         color: #ff79c6;
      }

      .main-badge {
         background: #282a36 !important;
         color: #8be9fd;
      }

      .vertical-timeline-element-date {
         color: #ff79c6;
      }

      .vertical-timeline-element-icon {
         background: #919191 !important;
      }
      @media only screen and (max-width: 1169px) { 
         .vertical-timeline-element-date {
            color: black;
         }
      }
   }

   .modal-inside .modal-content {
      background: #44475a;
      color: #8be9fd;
   }

   .close-icon {
      color: white;
   }
}
